body {
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
    padding: 0%;
}

.topb {
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {

    width: 50%;
    padding-left: 50px;
    padding-right: 20px;

}

.half-width h1 {
    /*padding-top: 5%;*/
    font-size: xx-large;
}

.half-width h4 {
    font-size: x-large;
}

.name-color {
    font-family: 'Rubik Moonrocks', cursive;
    color: rgb(232, 0, 96);

}

.hireme {
    cursor: pointer;
    text-decoration: none;
    background-color: chocolate;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(blue, tomato);
    text-shadow: 2px;
    color: whitesmoke;

}

.half-width img {

    width: 90%;
    height: 90%;
}

.midb {
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 70px;
    margin-top: 10%;
}

.halff-width h1 {
    /*padding-top: 5%;*/
    font-size: xx-large;
    margin-bottom: 20px;

}

.halff-width {

    width: 50%;
    padding-left: 80px;
    padding-right: 20px;

}

.resum {
    cursor: pointer;
    text-decoration: none;
    background-color: chocolate;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(blue, tomato);
    text-shadow: 2px;
    color: whitesmoke;
}

.thirds {
    margin-bottom: 70px;
    margin-top: 10%;
}

.exprience {
    padding-left: 40px;
    font-size: x-large;
}

.thirdbox {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    display: flex;
}

.FullStack {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 40px rgb(47, 28, 28);
    border-radius: 8px;
    border-left: 9px solid tomato;

}

.BabyWeb {
    width: 50%;
    padding-left: 15px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(47, 28, 28);
    border-radius: 8px;
    border-left: 9px solid blueviolet;
}

.footer {
    text-shadow: 10px 8px 5px  rgb(214, 202, 202);
    text-align: center;
    color: rgb(132, 167, 198);
    padding-top: 50px;
    margin-top: 5%;
}